.welcomesect {
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    padding-top: 169px;

    >img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: 0 0;
        top: 0;
        left: 0;
    }

    .welcome-sect {
        position: relative;
        z-index: 2;
        padding-top: 137px;
    }

    .welcome-sect {
        h1 {
            color: #fff;
            font-weight: 900;
            font-size: 56px;
            line-height: 122%;
            font-style: italic;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            margin-bottom: 24px;

            span {
                display: block;
                text-shadow:
                    -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;

                font-family: initial;

            }

            @supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
                span {
                    color: transparent;
                    -webkit-text-stroke: 1px #fff;
                    text-stroke: 1px #fff;
                    text-shadow: none;
                    font-family: sans-serif;
                }
            }
        }

        .descr {
            color: #fff;
            max-width: 604px;
            letter-spacing: 0.01em;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            margin-bottom: 50px;

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }

    .welcomesect__btngroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 680px;
    }
}

.recfacility {
    padding: 90px 0 120px;

    h3 {
        color: #333;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 38px;
        line-height: 122%;
        margin-bottom: 60px;

        span {
            color: transparent;
            -webkit-text-stroke: 1px #E80C2A;
            text-stroke: 1px #E80C2A;
            text-shadow: none;
            font-family: sans-serif;
        }
    }

    .recfacility__logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.callnow {
    padding: 64px 0;
    background-color: #232323;
    background-image: url('../img/callnow-bg.png'), url('../img/callnow-bg2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, left 7% top 63%;
    background-size: auto 100%, auto;

    .callnow__left {
        h3 {
            margin: 0;
            color: #E80C2A;
            font-weight: 700;
            font-size: 41px;
            line-height: 150%;
            text-transform: uppercase;
        }
    }

    .callnow__right {
        text-align: right;
        font-style: italic;

        p {
            margin-bottom: 15px;
            color: #E80C2A;
            font-weight: 500;
            font-size: 22px;
            line-height: 150%;
        }

        a {
            display: inline-flex;
            background: #D2111A;
            width: 260px;
            height: 64px;
            margin-right: 40px;

            img {
                margin: -2px 0 0 20px;
            }
        }
    }
}

.servicessect__box {
    position: relative;
    height: 850px;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.78);
        z-index: 1;
        transition: 0.5s;
        opacity: 0;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    .servicessect__box-pic {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            object-position: 50% 50%;
            width: 100%;
            height: 100%;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180.03deg, rgba(0, 0, 0, 0) 57.16%, #212121 99.98%);
            z-index: 1;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            background: rgba(0, 0, 0, 0.15);
        }
    }

    .servicessect__box-descr {
        position: relative;
        z-index: 3;
        padding: 80px 89px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.5s;
        transform: translate(0, 74%);

        .textwrap {
            .title {
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 32px;
                line-height: 150%;
                padding-bottom: 16px;
                margin-bottom: 40px;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 6px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: 0;
                    transition: 0.5s;
                    background: #E80C2A;
                }
            }

            .descr {
                color: #fff;
                font-weight: 400;
                font-size: 22px;
                line-height: 150%;
                display: -webkit-box;
                -webkit-line-clamp: 13;
                -webkit-box-orient: vertical;
                overflow: hidden;

                p {
                    margin: 0;
                }
            }

        }

        .likelink {
            text-align: center;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 25px;
            line-height: 33px;

            img {
                margin-left: 14px;
            }
        }
    }

    &:hover {
        .servicessect__box-descr {
            transform: translate(0, 0);
        }

        .textwrap {
            .title {
                &::after {
                    width: 100%;
                }
            }
        }
    }


}

.adussect {
    padding: 150px 0;

    h3 {
        color: #131313;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 38px;
        line-height: 122%;
        margin-bottom: 53px;

        span {
            color: transparent;
            -webkit-text-stroke: 1px #E80C2A;
            text-stroke: 1px #E80C2A;
            text-shadow: none;
            font-family: sans-serif;
            display: block;
        }
    }

    .adussect__descrsect {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .adussect__descrsect-col {
            width: 100%;

            &:nth-child(1) {
                max-width: calc(46% - 75px);
                flex: 0 0 calc(46% - 75px);
            }

            &:nth-child(2) {
                max-width: calc(54% - 75px);
                flex: 0 0 calc(54% - 75px);
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: #131313;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .redbtn {
                margin-top: 55px;
                display: inline-flex;
            }
        }
    }
}

.adussect__sliderwrapper {
    margin-top: 100px;

    .swiper-slide {
        text-align: center;
    }
}

.callnow.callnowpicbg {
    padding: 150px 0;
    background-color: transparent;
    position: relative;

    .callnowpicbg__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        z-index: 1;
    }

    .callnowpicbg__element1 {
        position: absolute;
        right: 6%;
        top: 22%;
        z-index: 3;
    }

    .callnowpicbg__element2 {
        position: absolute;
        left: 7%;
        top: 41%;
        z-index: 3;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.72);
        z-index: 2;
    }

    .container {
        position: relative;
        z-index: 3;
    }

    .callnow__left h3,
    .callnow__right p {
        color: #fff;
    }
}

.logosblock {
    padding: 60px 0;

    .logosblock__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.reviews {
    padding: 124px 0 117px;
    position: relative;

    .reviews__bgpic {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.74);
    }

    .container {
        position: relative;
        z-index: 3;
    }

    h3 {
        color: #fff;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 35px;
        line-height: 122%;
        margin-bottom: 80px;

        span {
            color: transparent;
            -webkit-text-stroke: 1px #fff;
            text-stroke: 1px #fff;
            text-shadow: none;
            font-family: sans-serif;
            display: block;
        }
    }

    .slidetext {
        text-align: center;

        .userimg {
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            border: 10px solid rgba(232, 12, 42, 0.53);
            margin-bottom: 25px;
            width: 129px;
            height: 129px;
        }

        .slidertext__descr {
            max-width: 520px;
            margin: 0 auto;

            .descr {
                margin: 0;
                color: #fff;
                font-weight: 500;
                font-size: 17px;
                line-height: 150%;
                text-align: left;
                margin-bottom: 70px;
            }

            .name {
                text-align: right;
                color: #fff;
                font-weight: 600;
                font-size: 18px;
                line-height: 150%;
                margin: 0;

                span {
                    display: inline-block;
                    position: relative;
                    padding-left: 40px;

                    &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 2px;
                        width: 28px;
                        background: #fff;
                    }
                }
            }
        }
    }

    .reviews__slidewrap {
        text-align: center;
    }

    .videowrapper {
        position: relative;
        z-index: 2;
        max-width: 630px;
        display: inline-block;

        .video__title {
            text-align: center;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            margin-top: 20px;

            span {
                display: inline-block;
                position: relative;
                padding-left: 40px;

                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 2px;
                    width: 28px;
                    background: #fff;
                }
            }
        }
    }

}

.plyr .plyr__control--overlaid {
    width: 77px;
    height: 77px;
    background-color: transparent !important;
    background-image: url('../img/play.svg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    svg {
        display: none;
    }
}

.reviews__sliderwrapper {
    position: relative;
}

.reviewssliderbtns {
    .slick-arrow {
        width: 32px;
        height: 20px;
        padding: 0;
        outline: none;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 32px auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

    }

    .slick-prev.slick-arrow {
        background-image: url('../img/slider-arrowleft.svg');
        left: -90px;
    }

    .slick-next.slick-arrow {
        background-image: url('../img/slider-arrowright.svg');
        right: -90px;
    }
}

.reviews .slidetext .userimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


.redbtn,
.callnow .callnow__right a {
    transition: 0.3s;

    &:hover {
        background: #b50009;
    }
}

.greybtn {
    transition: 0.3s;

    &:hover {
        background: #141414;
    }
}

.adussect__descrsectmobbtn {
    display: none !important;
}

.welcomesect>.mobpic {
    display: none;
}

.greybtn img.mob {
    display: none;
}

.likelink img {
    animation: pulse1 2s infinite;
    -webkit-animation: pulse1 2s infinite;
}

@-webkit-keyframes pulse1 {

    0% {
       transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes pulse1 {
    0% {
        transform: translateX(0);
     }
 
     50% {
         transform: translateX(10px);
     }
 
     100% {
         transform: translateX(0);
     }
}


.socfixsection {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 11;

    .socfix__mainpoint {
        display: inline-block;
        width: 99px;
        height: 99px;
        background: rgba(255, 0, 0, 0.3);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
       
        .iconsect {
            background: #FF0000;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;

            &:hover {
                background: #bc0808;
            }

            img {

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .socfix__group {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            transition: 0.5s;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            transform: translateY(10px);
            position: absolute;
            right: 0;
            left: 0;
            bottom: 105px;

            li {    
                text-align: center;
                margin-bottom: 9px;
                a {
                    width: 51px;
                    height: 51px;
                    display: inline-flex;
                    background: #F10202;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s;

                    img {
                        max-width: 30px;
                    }

                    &:hover {
                        background: #bc0808;
                    }
                }
            }
        }

        &.show {
            ul {
                opacity: 1;
                z-index: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}



.teamsection .team__readmore{
    transition: 0.3s;
}

.teamsection .team__readmore:hover {
    text-decoration: none;
    color: #E80C2A;
}


@media(max-width:1600.8px) {

    .greybtn {
        font-size: 16px;
        transform: skew(-30deg, 0deg);
        width: 400px;
        height: 74px;

        span {
            transform: skew(30deg, 0deg);
        }
    }

    .redbtn {
        width: 200px;
        height: 46px;
        transform: skew(-30deg, 0deg);

        span {
            transform: skew(30deg, 0deg);
        }
    }

    .greybtn span img {
        width: 80px;
        margin-right: 10px;
    }

    .welcomesect .welcomesect__btngroup {
        max-width: 640px;
    }

    .welcomesect {
        height: 900px;
    }

    .callnow .callnow__right a {
        width: 220px;
        height: 56px;
    }

    .recfacility__logos img {
        max-height: 70px;
    }

    .callnow {
        padding: 40px 0;
    }

    .servicessect__box .servicessect__box-descr .textwrap .title {
        font-size: 24px;
        line-height: 140%;
        padding-bottom: 15px;
    }

    .servicessect__box .servicessect__box-descr .textwrap .title:after {
        height: 3px;
    }

    .servicessect__box .servicessect__box-descr .textwrap .title {
        margin-bottom: 30px;
        height: 77px;
    }

    .servicessect__box .servicessect__box-descr {
        padding: 40px;
        transform: translate(0, 77%);
    }

    .servicessect__box .servicessect__box-descr .textwrap .descr,
    .servicessect__box .servicessect__box-descr .likelink {
        font-size: 18px;
    }

    .servicessect__box .servicessect__box-descr .likelink img {
        margin-left: 10px;
        width: 36px;
        margin-top: -3px;
    }

    .servicessect__box {
        height: 600px;
    }

    .adussect .adussect__descrsect .adussect__descrsect-col .redbtn {
        margin-top: 40px;
    }

    .slick-slide img {
        margin: 0 auto;
    }

    .callnow {
        background-position: left top, left 4% top 38%;
    }

    .callnow.callnowpicbg {
        padding: 100px 0;
    }

    .callnow.callnowpicbg .callnowpicbg__element1 {
        right: 2%;
        top: 20%;
        width: 50px;
    }

    .callnow.callnowpicbg .callnowpicbg__element2 {
        left: 2%;
        top: 56%;
        width: 50px;
    }

    .logosblock__wrap img {
        max-width: 140px;
    }

    .logosblock {
        padding: 40px 0;
    }

    .reviewssliderbtns .slick-prev.slick-arrow {
        left: -50px;
    }

    .reviewssliderbtns .slick-next.slick-arrow {
        right: -50px;
    }

    .reviews .slidetext .userimg {
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }

    .reviews .slidetext .slidertext__descr {
        max-width: 470px;
    }

    .reviews .videowrapper {
        max-width: 520px;
    }

    .reviews .slidetext .slidertext__descr .descr {
        margin-bottom: 30px;
    }












    .recfacility h3,
    .reviews h3 {
        margin-bottom: 50px;
    }

    .adussect h3 {
        margin-bottom: 40px;
    }

    .recfacility,
    .adussect,
    .reviews {
        padding: 70px 0 70px;
    }

    .welcomesect .welcome-sect h1 {
        font-size: 50px;
    }

    .recfacility h3,
    .callnow .callnow__left h3,
    .adussect h3 {
        font-size: 32px;
    }

    .callnow .callnow__right p {
        font-size: 20px;
    }

    .welcomesect .welcome-sect .descr {
        font-size: 18px;
    }

    .adussect .adussect__descrsect .adussect__descrsect-col p,
    .reviews .slidetext .slidertext__descr .descr,
    .reviews .videowrapper .video__title,
    .reviews .slidetext .slidertext__descr .name {
        font-size: 16px;
    }
}

@media(max-width:1400.8px) {
    .welcomesect .welcome-sect h1 {
        font-size: 44px;
        margin-bottom: 20px;
    }

    .welcomesect .welcome-sect .descr {
        font-size: 16px;
        max-width: 500px;
    }

    .welcomesect .welcome-sect {
        padding-top: 100px;
    }

    .welcomesect {
        height: 800px;
    }

    .welcomesect>img {
        object-position: 25% 0;
    }

    .recfacility__logos img {
        max-height: 60px;
    }

    .callnow {
        background-position: left top, left 1% top 14%;
    }

    .callnow {
        padding: 30px 0;
    }

    .servicessect__box .servicessect__box-descr .textwrap .title {
        height: 70px;
    }

    .servicessect__box .servicessect__box-descr {
        padding: 30px;
        transform: translate(0, 80%);
    }

    .callnow.callnowpicbg {
        padding: 60px 0;
    }

    .callnow.callnowpicbg .callnowpicbg__element1,
    .callnow.callnowpicbg .callnowpicbg__element2 {
        display: none;
    }

    .logosblock__wrap img {
        max-width: 120px;
    }

    .reviewssliderbtns .slick-prev.slick-arrow {
        left: -20px;
    }

    .reviewssliderbtns .slick-next.slick-arrow {
        right: -20px;
    }









    .recfacility h3,
    .reviews h3 {
        margin-bottom: 40px;
    }

    .adussect,
    .recfacility,
    .reviews {
        padding: 60px 0 60px;
    }

    .adussect h3,
    .callnow .callnow__left h3,
    .recfacility h3 {
        font-size: 28px;
    }

    .servicessect__box .servicessect__box-descr .textwrap .title {
        font-size: 20px;
    }

    .servicessect__box .servicessect__box-descr .likelink,
    .servicessect__box .servicessect__box-descr .textwrap .descr {
        font-size: 16px;
    }

}

@media(max-width:1199.8px) {
    .welcomesect {
        padding-top: 80px;
        height: 700px;
    }

    .welcomesect>img {
        -o-object-position: 0 0;
        object-position: 0 0;
    }

    .servicessect__box {
        height: 400px;
    }

    .servicessect__box .servicessect__box-descr .likelink {
        margin-bottom: 0;
        font-size: 12px;
        line-height: normal;
        margin-top: 15px;

        img {
            width: 28px;
            margin: 0;
            margin-top: -3px;
        }
    }

    .servicessect__box .servicessect__box-descr .textwrap .descr
    {
        display: none;
    }

    .servicessect__box .servicessect__box-descr {
        // height: auto;
    }

    .servicessect__box .servicessect__box-descr .textwrap .title:after,
    .servicessect__box:after {
        display: none;
    }

    .servicessect__box .servicessect__box-descr {
        justify-content: flex-end;
    }

    .servicessect__box .servicessect__box-descr .textwrap .title {
        margin: 0;
        padding: 0;
        font-size: 18px;
    }

    .servicessect__box .servicessect__box-descr {
        transform: translate(0, 0);
        padding: 20px;
    }

    .adussect .adussect__descrsect .adussect__descrsect-col:first-child {
        max-width: calc(46% - 30px);
        flex: 0 0 calc(46% - 30px);
    }

    .reviews__sliderwrapper {
        max-width: calc(100% - 100px);
        margin: 0 auto;
    }

    .reviews .reviews__slidewrap {
        .slidetext {
            max-width: 100%;
        }

        .videowrapper {
            max-width: 100%;
        }
    }

    .reviewssliderbtns .slick-next.slick-arrow {
        right: -50px;
    }

    .reviewssliderbtns .slick-prev.slick-arrow {
        left: -50px;
    }

    .reviews .slidetext .slidertext__descr {
        max-width: calc(100% - 100px);
    }











}

@media(max-width:1035.8px) {
    .welcomesect>img {
        object-position: 22% 0;
    }
}

@media(max-width:991.8px) {
    .welcomesect>img {
        object-position: 52% 0;
    }

    .welcomesect .welcome-sect h1 {
        font-size: 34px;

        br {
            display: none;
        }
    }

    .welcomesect .welcome-sect h1 {
        font-size: 32px;
    }

    .welcomesect__btngroup {
        flex-wrap: wrap;
    }

    .recfacility__logos img {
        max-height: 50px;
    }

    .redbtn {
        margin-top: 20px;
    }

    .callnow .callnow__left h3 {
        text-align: center;
    }

    .callnow .callnow__right {
        text-align: center;
    }

    .callnow .callnow__right a {
        margin-top: 0;
    }

    .servicessect__box .servicessect__box-descr .textwrap .title {
        font-size: 16px;
        height: auto;
    }

    .servicessect__box .servicessect__box-descr {
        padding: 20px 10px 30px;
    }

    .adussect__sliderwrapper {
        margin-top: 60px;
    }

    .logosblock__wrap img {
        max-width: 100px;
    }











}

@media(max-width:767.8px) {
    .welcomesect .welcome-sect .descr p:last-child {
        max-width: 320px;
    }

    .welcomesect>img {
        object-position: 66% 0;
    }

    .recfacility__logos img {
        max-height: 40px;
    }

    .callnow {
        background-image: url(../img/callnow-bg.png);
    }

    .callnow .callnow__right a {
        margin-right: 0;
    }

    .adussect .adussect__descrsect .adussect__descrsect-col:first-child,
    .adussect .adussect__descrsect .adussect__descrsect-col:nth-child(2) {
        max-width: calc(50% - 15px);
        flex: 0 0 calc(50% - 15px);
    }

    .adussect .adussect__descrsect .adussect__descrsect-col .redbtn {
        margin-right: 20px;
    }

    .callnow .callnow__right p {
        font-size: 18px;
    }

    .callnow .callnow__left h3 {
        margin-bottom: 10px;
    }

    .logosblock .logosblock__wrap {
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 100%;
            max-width: 33%;
            flex: 0 0 33%;
            padding: 15px;
        }
    }

    .reviews .slidetext .slidertext__descr {
        max-width: calc(100% - 30px);
    }

    .socfixsection .socfix__mainpoint {
        width: 70px;
        height: 70px;
    }

    .socfixsection .socfix__mainpoint .iconsect {
        width: 55px;
        height: 55px;
    }

    .socfixsection {
        right: 10px;
        bottom: 10px;
    }

    .socfixsection .socfix__group ul li a {
        width: 40px;
        height: 40px;
    }

    .iconsect img {
        max-width: 24px;
    }


    .adussect h3,
    .callnow .callnow__left h3,
    .recfacility h3 {
        font-size: 21px;
    }

}

@media(max-width:575.8px) {
    .welcomesect .welcome-sect h1 {
        font-size: 24px;
    }

    .greybtn {
        margin-left: 25px;
        width: 310px;
    }

    .welcome-sect .redbtn {
        margin-left: 20px;
    }

    .welcomesect {
        padding-top: 60px;
        height: auto;
    }

    .welcomesect .welcome-sect {
        padding: 70px 0;
    }

    .recfacility .recfacility__logos {
        flex-wrap: wrap;

        img {
            max-height: initial;
            max-width: 40%;
            flex: 0 0 40%;
            padding: 20px 10px;
        }
    }

    .recfacility h3 {
        margin-bottom: 20px;
    }

    .recfacility {
        padding-bottom: 40px;
    }

    .servicessect__box {
        height: 340px;
    }

    .adussect .adussect__descrsect .adussect__descrsect-col:first-child,
    .adussect .adussect__descrsect .adussect__descrsect-col:nth-child(2) {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .adussect__descrsect-col {
        .text-end {
            display: none;
        }
    }

    .adussect__descrsectmobbtn {
        display: flex !important;
        margin-left: 20px;
        margin-top: 0 !important;
    }

    .adussect__sliderwrapper {
        margin-top: 40px;
    }

    .logosblock .logosblock__wrap img {
        padding: 10px;
    }

    .reviews h3 {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .reviewssliderbtns {
        display: none;
    }

    .reviews__sliderwrapper {
        max-width: 100%;
    }

    .adussect h3 {
        margin-bottom: 30px;
    }

    .reviews .slidetext .slidertext__descr {
        max-width: 100%;
    }

    .welcomesect>img {
        display: none;
    }

    .welcomesect>.mobpic {
        display: block;
        position: relative;

        img {
            width: 100%;
            object-position: initial;
        }
    }

    .welcomesect .welcome-sect {
        padding-top: 15px;
        background: #151515;
    }

    .welcomesect .welcome-sect .descr p:last-child {
        max-width: 100%;
        font-size: 14px;
    }

    .welcomesect .welcome-sect h1 {
        margin-bottom: 8px;
    }

    .welcomesect .welcome-sect .descr {
        margin-bottom: 26px;
    }

    .welcome-sect .greybtn {
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 0;
        width: calc(100% - 30px);
        margin: 0 auto;
        height: 49px;

        img {
            width: 54px;
        }
    }

    .greybtn img {
        display: none;

        &.mob {
            display: inline-block;
        }
    }

    .welcome-sect .redbtn {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        margin-left: 0;
        width: calc(100% - 30px);
        margin: 0 auto 14px;
        height: 46px;
        background: #E80C2A;
    }

    .welcomesect__btngroup {
        .redbtn {
            order: 1;
        }

        .greybtn {
            order: 2;
        }
    }

    .redbtn.adussect__descrsectmobbtn {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        margin-left: 0;
        width: calc(100% - 30px);
        margin: 0 auto;
        height: 46px;
    }

    .callnow .callnow__right a {
        height: 46px;
        font-size: 14px;
    }

    footer.footer .footer__rightsect .footer__list .footer__list-title {
        font-size: 16px;
    }

    footer.footer .footer__rightsect .footer__list ul li a {
        font-size: 14px;
    }
}

@media(max-width:360.8px) {

    .adussect,
    .recfacility,
    .reviews,
    .callnow.callnowpicbg {
        padding: 50px 0;
    }

    .recfacility .recfacility__logos img {
        padding: 10px;
    }

}