.pagewrap {
    padding-top: 105px;
}

.fsect {
    height: 415px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;


    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(91.24deg, rgba(0, 0, 0, 0.52) 14.21%, rgba(0, 0, 0, 0.52) 14.22%, rgba(0, 0, 0, 0.396575) 39.4%, rgba(0, 0, 0, 0.252973) 54.54%, rgba(0, 0, 0, 0) 74.98%);
    }

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    h1 {
        color: #fff;
        letter-spacing: 0.01em;
        font-weight: 900;
        font-size: 50px;
        line-height: 150%;
        margin-bottom: 18px;
        text-transform: uppercase;
        font-style: italic;

        span {
            color: transparent;
            -webkit-text-stroke: 1px #fff;
            text-stroke: 1px #fff;
            text-shadow: none;
            font-family: sans-serif;
        }
    }

    .descr {
        max-width: 870px;
        color: #fff;
        letter-spacing: 0.01em;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.teamsection {
    padding: 60px 0;

    h2 {
        font-weight: 700;
        font-size: 35px;
        line-height: 122%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #333;
        margin-bottom: 40px;

        span {
            color: transparent;
            -webkit-text-stroke: 1px #E80C2A;
            text-stroke: 1px #E80C2A;
            text-shadow: none;
            font-family: sans-serif;
        }
    }

    .teamsection__descr {
        margin-bottom: 90px;

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #131313;
        }
    }

    .team__photowrapp {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: -14px;
            top: 9px;
            width: 100%;
            height: calc(100% - 9px);
            border: 2px solid #E80C2A;
            border-left: none;
            transform: skew(-3deg, 0deg);
        }
    }

    .team__photosect {
        position: relative;
        padding: 0 0 101% 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .teammate-descr {
        padding-left: 30px;

        .title {
            color: #333;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 35px;
            line-height: 122%;
            margin-bottom: 10px;
        }

        .proff {
            margin-bottom: 35px;
            color: #8D8D8D;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 22px;
            line-height: 122%;
        }

        ol {
            list-style-type: none;
            padding: 0;
            margin: 0 0 20px 0;

            li {
                color: #131313;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
            }
        }

        p {
            color: #131313;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
        }

        .teammate__medwrlists {
            display: flex;
            flex-wrap: wrap;

            .teammate__medwrlist {
                max-width: 50%;
                flex: 0 0 50%;
                display: flex;
                margin-top: 20px;
                align-items: center;

                img {
                    max-width: 84px;
                    flex: 0 0 84px;
                }

                p {
                    margin: 0;
                    max-width: calc(100% - 84px);
                    flex: 0 0 calc(100% - 84px);
                    font-weight: 600;
                    font-size: 18px;
                    color: #333;
                    line-height: 150%;
                    padding-left: 20px;
                }
            }
        }

        ul {
            list-style-type: none;
            margin: 49px 0 0 0;
            padding: 0;

            li {
                display: inline-block;
                vertical-align: middle;
                color: #333333;
                font-weight: 600;
                font-size: 18px;
                line-height: 150%;
                position: relative;
                padding-left: 40px;
                margin-right: 21px;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 21px;
                    height: 25px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: url('../img/redcheck.svg') no-repeat center / 100%;

                }
            }

            &.dblocklist {
                li {
                    margin-bottom: 28px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    b {
                        font-weight: bold;
                    }
                }
            }
        }

        .textbox {
            max-width: 666px;
        }

        .team__readmore-hide {
            display: none;
        }
    }

    .teammate-descr__header {
        min-height: 80px;
        margin-bottom: 35px;
    }

    .teambox {
        margin-bottom: 150px;

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:nth-child(even) {
            .row {
                flex-direction: row-reverse;
            }

            .teammate-descr {
                padding-left: 0;
                padding-right: 30px;
            }

            .team__photowrapp {
                &::after {
                    left: -14px;
                    right: initial;
                    transform: skew(3deg, 0deg);
                    border: 2px solid #E80C2A;
                    border-right: none;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    .team__readmore {
        color: #202020;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        text-decoration: underline;
        margin-top: 27px;
        display: inline-block;
        cursor: pointer;
    }
}

.teamsection .teammate-descr .textbox {
    display: -webkit-box;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &.show {
        -webkit-line-clamp: 99;
    }
}


@media(max-width:1600.8px) {
    .fsect {
        height: 360px;
    }

    .fsect h1 {
        font-size: 44px;
        margin-bottom: 10px;
    }

    .fsect .descr {
        font-size: 16px;
        max-width: 750px;
    }

    .teamsection h2 {
        margin-bottom: 30px;
    }

    .teamsection .team__photosect {
        padding: 0 0 80% 0;
    }

    .teamsection .teammate-descr__header {
        min-height: 70px;
    }

    .teamsection .teammate-descr ul li {
        padding-left: 30px;
    }

    .teamsection .teambox {
        margin-bottom: 120px;
    }







    .teamsection .teammate-descr .title {
        font-size: 28px;
    }

    .teamsection .teammate-descr .proff {
        font-size: 20px;
    }

    .teamsection .teamsection__descr p,
    .teamsection .teammate-descr ol li,
    .teamsection .teammate-descr p,
    .teamsection .teammate-descr .teammate__medwrlists .teammate__medwrlist p,
    .teamsection .teammate-descr ul li {
        font-size: 16px;
    }
}

@media(max-width:1199.8px) {
    .pagewrap {
        padding-top: 80px;
    }

    .fsect {
        height: 240px;
    }

    .teamsection .teammate-descr .textbox {
        -webkit-line-clamp: 6;
    }



}

@media(max-width:991.8px) {
    .teamsection h2 {
        margin-bottom: 20px;
    }

    .teamsection .teamsection__descr {
        margin-bottom: 40px;
    }

    .teamsection .team__photowrapp {
        max-width: 420px;
        margin: 0 auto 20px;
    }

    .teamsection .teammate-descr__header {
        min-height: initial;
    }

    .teamsection .teammate-descr__header {
        margin-bottom: 30px;
    }

    .teamsection .teammate-descr__header {
        text-align: center;
    }

    .teamsection .teammate-descr .teammate__medwrlists .teammate__medwrlist img {
        max-width: 60px;
        flex: 0 0 60px;
    }

    .teamsection .teammate-descr .teammate__medwrlists .teammate__medwrlist p {
        max-width: calc(100% - 60px);
        flex: 0 0 calc(100% - 60px);
        padding-left: 15px;
    }

    .teamsection .teammate-descr .title {
        font-size: 26px;
    }

    .teamsection .teammate-descr .proff {
        font-size: 18px;
    }

    .teamsection .teambox {
        margin-bottom: 60px;
    }




}

@media(max-width:767.8px) {
    .teamsection h2 {
        font-size: 28px;
    }

    .teamsection .teammate-descr .title {
        font-size: 22px;
    }

}

@media(max-width:575.8px) {
    .pagewrap {
        padding-top: 60px;
    }

    .fsect h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .fsect .descr {
        font-size: 14px;
        max-width: 750px;
    }

    .fsect {
        min-height: 240px;
        height: auto;
    }

    .teamsection {
        padding-top: 40px;
    }

    .teamsection .team__photowrapp {
        max-width: 300px;
        margin: 0 auto 20px;
    }

    .teamsection .teammate-descr .title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .teamsection .teammate-descr .proff {
        font-size: 14px;
    }

    .teamsection .teammate-descr {
        padding-left: 0;
    }

    .teamsection .teammate-descr .teammate__medwrlists .teammate__medwrlist {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .teamsection .team__readmore {
        font-size: 14px;
    }

    .teamsection .teambox:nth-child(2n) .teammate-descr {
        padding-right: 0;
    }




    .teamsection h2 {
        font-size: 24px;
    }
}

@media(max-width:360.8px) {
    .teamsection .teambox:nth-child(2n) .team__photowrapp:after {
        left: -4px;
        transform: skew(1deg,0deg);
    }
    .teamsection .team__photowrapp:after {
        right: -4px;
        transform: skew(-1deg,0deg);
    }
}

